
#lightbox {
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  /* IE Fallback (Solid Colour) */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
  background: rgba(211, 211, 211, 0.7);
  -webkit-filter: none !important;
}

#lightbox img {
  display: block;
  position: absolute;
  box-shadow: 0 0 20px #000;
  border-radius: 1px;
}

body.blurred > * {
  -webkit-filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
}

.lightbox-loading {
  background: url(../images/loading.gif) center center no-repeat;
  width: 31px;
  height: 31px;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 48%;
  left: 50%;
}

.lightbox-caption {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}

.lightbox-caption p {
  margin: 0 auto;
  max-width: 70%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.lightbox-button {
  position: absolute;
  z-index: 9999;
  background: no-repeat center center;
  width: 32px;
  height: 32px;
  opacity: 0.4;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.lightbox-button:hover,
.lightbox-button:focus {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.lightbox-close {
  right: 30px;
  top: 30px;
  background-image: url("../images/close.png");
}

.lightbox-next {
  right: 30px;
  top: 48%;
  background-image: url("../images/next.png");
}

.lightbox-previous {
  left: 30px;
  top: 48%;
  background-image: url("../images/previous.png");
}

.pushItDown {
    margin-top: 27em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownLess {
    margin-top: 25.5em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
}

.pushItDownLeast {
    margin-top: 25em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownSome {
    margin-top: 25em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
}

.pushItDownSomeStyle {
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
}

.pushItDownMore {
    margin-top: 42em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownDeleteButton {
    margin-top: 29.75em;
    margin-left: 17em;
    color: #FFFFFF;
}

.pushItDownStyle {
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownStyle2 {
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
}

.pushItDownStyleCart {
    margin-top: 29em;
    margin-left: 17em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownCreate {
    margin-top: 26em;
    margin-right: 7em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownCreateGuitar {
    margin-top: 26em;
    margin-left: -14em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownEmail {
    margin-top: 29em;
    margin-right: 8em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownPassResetConfirm {
    margin-top: 29em;
    margin-left: 10em;
    margin-right: 10em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownBrands {
    margin-top: 23em;
    margin-left: 7px;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownBrandsCreate {
    color: #FFFFFF;
    border: medium solid #000000;
    margin-top: 47em;
    margin-right: -25em;
    margin-left: -40em;
    background-color: rgba(6, 33, 50, .9);
    padding: 3em;
}

.pushItDownBrandsEdit {
    color: #FFFFFF;
    border: medium solid #000000;
    margin-top: 46em;
    margin-right: -25em;
    margin-left: -30em;
    background-color: rgba(6, 33, 50, .9);
}

.pushItDownBrandDetails {
    margin-top: 18em;
    margin-left: 7px;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownEmailConfirm {
    margin-top: 29em;
    margin-left: 10em;
    margin-right: 10em;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItDownHelp {
    margin-top: 25em;
    padding: 5px 5px 150px 5px;
    color: #FFFFFF;
    background-color: rgba(6, 33, 50, .9);
    border: medium solid #000000;
}

.pushItUp {
    margin-top: 5em;
}

