@model StoreFrontV3.UI.MVC.Models.ContactViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="pushItDownEmailConfirm">
    <h4>We received the following message: </h4>
    <p>@Model.Message</p>
    <h4>We will respond as soon as we can to @Model.Email. <br />Thank you for contacting us!</h4>
</div>
