<div id="gallery-content">
    <header>
        <h1>B# Guitar Shop</h1>
    </header>
    <div class="content gallery" id="page1">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/PRSCE24Body.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/PRSCE24Full.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/TaylorT3SemiBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/TaylorT3SemiFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/ESPE11Body.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/ESPE11Full.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/FenderJazzBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/FenderJazzFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/GibsonLPBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/GibsonLPFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/PRSPSBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/PRSPSFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/ESPLTDEclipseBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/ESPLTDEclipseFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content gallery" id="page2" style="display:none;">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/FenderStratBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/FenderStratFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/Taylor614cdBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/Taylor614cdFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/GibsonSGBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/GibsonSGFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/PRSHollow2Body.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/PRSHollow2Full.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/TaylorAmericanDreamBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/TaylorAmericanDreamFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/ESPViperBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/ESPViperFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/PRSSEA60EBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/PRSSEA60EFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content gallery" id="page3" style="display:none;">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/GibsonExplorerBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/GibsonExplorerFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/TaylorK24ceBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/TaylorK24ceFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/PRSSEHollowBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/PRSSEHollowFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/TaylorPRS824ceBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/TaylorPRS824ceFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/ESPEC1000Body.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/ESPEC1000Full.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/FenderTeleBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/FenderTeleFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Guitars/GibsonFlyingVBody.jpg);">
                        <div class="overlay">
                            <a href="~/Content/images/Guitars/GibsonFlyingVFull.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="centerBack">
    <div class="pagination">
        <ul>
            <li id="page_link_1" class="active">1</li>
            <li id="page_link_2">2</li>
            <li id="page_link_3">3</li>
        </ul>
    </div>
</div>