<div id="services-content">
    <header>
        <h1>B# Guitar Services</h1>
    </header>
    <div class="content services">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 services-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" data-service-description="Duis ac laoreet mi. Maecenas non lorem sed elit molestie tincidunt. Vestibulum tincidunt libero urna, ut dignissim purus accumsan nec. Sed in molestie lectus. Curabitur non est neque. Maecenas id luctus ligula. Mauris dignissim ante eu arcu ultricies, at sodales orci aliquet.">
                        <i class="fa fa-ticket"></i>
                    </div>
                </div>
            </div>
            <h2>New Guitars</h2>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 services-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" data-service-description="Sed ut dapibus nisi. Mauris ultrices tempus tincidunt. Praesent aliquam posuere scelerisque. Cras tristique ac sapien ac sollicitudin. Nulla blandit pharetra dui, ut dignissim nulla porttitor ac. In condimentum neque eget ipsum eleifend viverra.">
                        <i class="fa fa-life-ring"></i>
                    </div>
                </div>
            </div>
            <h2>Used Guitars</h2>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 services-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" data-service-description="In condimentum neque eget ipsum eleifend viverra. Integer vitae mi vel mauris euismod aliquet in pulvinar sapien. Maecenas a egestas ante. Maecenas id diam quis urna imperdiet tristique in non sapien. Praesent fermentum justo risus, vitae viverra tellus vestibulum eget.">
                        <i class="fa fa-pied-piper"></i>
                    </div>
                </div>
            </div>
            <h2>Trade Program</h2>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 services-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" data-service-description="Phasellus vel nulla libero. Maecenas mattis in mi a gravida. Integer sit amet orci consectetur, feugiat dolor et, aliquam sem. Praesent fermentum justo risus, vitae viverra tellus vestibulum eget. In hac habitasse platea dictumst. Suspendisse potenti. Vivamus vitae rutrum risus.">
                        <i class="fa fa-wrench"></i>
                    </div>
                </div>
            </div>
            <h2>Guitar Repair</h2>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 services-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" data-service-description="Ut condimentum rhoncus vestibulum. Etiam nec ipsum nec felis vehicula pulvinar vitae quis quam. Aenean urna metus, aliquam pellentesque orci sed, fermentum tincidunt turpis. Pellentesque a sapien vitae velit aliquet consequat.">
                        <i class="fa fa-music"></i>
                    </div>
                </div>
            </div>
            <h2>Guitar Lessons</h2>
        </div>
        <div class="content-description">
            <p></p>
        </div>
    </div>
</div>
