<div id="team-content">
    <header>
        <h1>Meet our team</h1>
    </header>
    <div class="content team" id="page1">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(images/team/1.jpg);">
                        <div class="overlay">
                            <h2>MGR</h2>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(images/team/2.jpg);">
                        <div class="overlay">
                            <h2>SALES</h2>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(images/team/3.jpg);">
                        <div class="overlay">
                            <h2>LUTHIER</h2>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-description">
            <p>Duis ac laoreet mi. Maecenas non lorem sed elit molestie tincidunt. Vestibulum tincidunt libero urna, ut dignissim purus accumsan nec. Sed in molestie lectus. Curabitur non est neque. Maecenas id luctus ligula. Mauris dignissim ante eu arcu ultricies, at sodales orci aliquet.</p>
        </div>
    </div>
</div>