<div id="team-content">
    <header>
        <h1>Meet our team</h1>
    </header>
    <div class="content team" id="page1">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/JeremyBaker3.jpg);">
                        <div class="overlay">
                            <h2>Owner<br />Jeremy Baker</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/TommieDaniels3.jpg);">
                        <div class="overlay">
                            <h2>MGR<br />Tommie Daniels</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/JacksonDavis2.jpg);">
                        <div class="overlay">
                            <h2>LUTHIER<br />Jackson Davis</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-description">
            <p1>Jeremy Miller (Owner/Operator/Guitar Hoarder)</p1><br />
            <p1>As the owner and leader of the B# Guitar Team Jeremy is always around and ready to help</p1>
            <p>
                Tommie Daniels (Manager/Guitar Guru)<br />
                If you have a guitar question, this guy is a is a walking guitar history book.
            </p>
            <p1>Jackson Davis (Luthier/Guitar Doctor and Musician)</p1><br />
            <p1>Did you drop your guiar and snap off the head stock?...That's cute, this guys got you covered.</p1>
        </div>
    </div>
    <div class="content team" id="page2" style="display:none;">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/TaylorMorrison2.jpg);">
                        <div class="overlay">
                            <h2>Sales<br />Taylor Morrison</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/TravisMiller.jpg);">
                        <div class="overlay">
                            <h2>Sales<br />Travis Miller</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/JessieWinters2.jpg);">
                        <div class="overlay">
                            <h2>Sales<br />Jessie Winters</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-description">
            <p1>Taylor Morrison (Sales/"You Probably Couldn't Handle This Guitar")</p1><br />
            <p1>Sales Lead and usually the center of some type of mischief on the sales floor.</p1>
            <p>
                Travis Miller (Sales/"Could Sell Snow To A Polar Bear")<br />
                If you have an ear for great audio, this guy is the match maker to assist you.
            </p>
            <p1>Jessie Winters (Sales/"If You Love It, You Should Own It")</p1><br />
            <p1>She knows the key to the musicians heart is new gear and she likes to make it happen.</p1>
        </div>
    </div>
    <div class="content team" id="page3" style="display:none;">
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/team/1.jpg);">
                        <div class="overlay">
                            <h2></h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/images/Employees/RubyRuiz.jpg);">
                        <div class="overlay">
                            <h2>Inventory<br />Ruby Ruiz</h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon_container">
            <div class="hexagon hexagon2 team-item">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image:url(/Content/team/3.jpg);">
                        <div class="overlay">
                            <h2></h2>
                            @*<a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-twitter"></a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-description">
            <p>
                Ruby Ruiz (Inventory/Serial Reader)<br />
                Ruby has been working part-time at B# for her Uncle Jeremy while attending night classes.  You can usually find her studying or sleeping somewhere in the warehouse.
            </p>
        </div>
    </div>
</div>
<div class="centerBack">
    <div class="pagination">
        <ul>
            <li id="page_link_1" class="active">1</li>
            <li id="page_link_2">2</li>
            <li id="page_link_3">3</li>
        </ul>
    </div>
</div>
